p {
    background-color: brown;
    padding: 30px 0px;
    
  }
  
  span {
      background-color: burlywood;
      padding: 20px;
  }

  #none {
    display: none;
  }

  #inline-block {
    display: inline-block;
  }

  a {
    background-color: blue;
    padding: 20px;
    text-align: center;
  }

  #block {
    display: block;
  }
  #flex {
    display: flex;
  }
  